/*

reset

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Fredoka', sans-serif;
    max-width: 1000px;
    margin:0 auto;
    

}
.title {
    color: #E54D85;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 40px;
    font-size: 40pt;
}

.post-title {
    margin: 0 auto;
    margin-bottom: 40px;
}
.container{
    width: 300px;
    height: 100px;
    display: inline-block;
    background-color: black;
    content:"";
    display: table;
    clear: both;

}


img{
    height: 100px;
    float: left;
}

.rectangle {
    text-align: left;
    width: 200px;
    height: 100px;
    display: inline-block;
    color: white;   
    padding: 5%;
    
    
}





